ul#events-list {
  list-style: none;
}
ul#events-list li {
  transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  padding: 10px 15px;
  margin-bottom: 5px;
}
ul#events-list li:hover {
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px silver;
}
ul#events-list li .event-artist {
  font-size: 20px;
  text-shadow: 1px 1px 2px silver;
}
ul#events-list li .event-meta {
  color: gray;
  font-size: 13px;
}